@media screen and (min-width:576px) {

    /* structure */
    .side-bar{
        width: 241px;
    }

    .contain-main{
        width: calc(100% - 241px) ;
    }

    .top-bar{
        width: calc(100% - 241px) ;
    }

    /* sidebar */

    .logo-small{
        display: none;
    }

    .display-none{
        display: block;
    }

    .icon-side-bar li, .icon-square{
        display: flex;
    }

    .img-footer{
        width: 44px;
    }

    .content-footer-icon{
        display: flex;
    }

    .content-footer-icon i:first-child{
        padding-right: 10px;
    }


}

@media screen and (min-width:768px){
    .cards{
        width: calc(100% / 4);
    }
    .controll-bar{
        width: 500px;
    }

    .controll-volume{
        width: 100px;
    }
}

@media screen and (min-width:992px){
    .cards{
        width: calc(100% / 6);
    }
}