*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Figtree', sans-serif;
}

a{
    text-decoration: none;
}

/* Utility */

.flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.items-center{
    align-items: center;
} 

.direction-column{
    flex-direction: column;
}

.text-center{
    text-align: center;
}



.display-none-logo{
    display: none;
}

.display-none{
    display: none;
}

.color-white{
    color: white;
}

.color-grey{
    color: gray;
}

.padding-bottom20{
    padding-bottom: 20px;
}

.margin-left8{
    margin-left: 8px;
}

.padding-left10{
    padding-left: 10px;
}


/* hover */

.icon-side-bar li:hover, .icon-square:hover, .playlist li:hover{
    color: white;
}

.icon-side-bar li:hover .home{
    filter: invert(0);
}

.content-download:hover .download{
    filter: invert(0);
}

.content-download:hover span{
    color: white;
}



/* Start contain */


/* structure */
.contain{
    width: 100%;
    height: calc(100vh - 88px);
}

.contain-main{
    width: calc(100% - 60px);
    height: calc(100vh - 88px);
    background-color: #141922;
    overflow-y: auto;
}

.side-bar{
    width: 60px;
    height: calc(100vh - 88px);
    background-color:#000000;
    flex-direction: column;
    justify-content: space-between;
    
}

.top-bar{
    width: calc(100% - 60px);
    height: 64px;
    background-color:rgba(8,11,18,0.9);
    justify-content: flex-end;
    position: fixed;
}

/* internal structure */

/* side-bar */

.row-side-bar{
    width: 100%;
    height: 100%;
    
}

.cln-side-bar{
    width: 100%;
}

.logo-small{
    width: 2rem;
    padding-top: 5px;
}

.logo-medium{
    width: 8rem;
    padding-top: 8px;
}

.icon-side-bar ul{
    margin-top: 30px;
}

.icon-side-bar li{
    list-style: none;
    margin-top: 5px;
}

.home{
    width: 2rem;
    filter: invert(0.5);
}

.cln-side-bar h4{
    margin: 20px 0 10px 0;
    
}

.cln-side-bar i{
    font-size: 40px;
    margin-right: 8px;
    
}

.playlist{
    max-height: 238px;
    overflow-y: auto;
}

.playlist li{
    list-style: none;
    margin-top: 15px;
}

.download{
    width: 1.5rem;
    filter: invert(0.5);
}

.profile{
    width: 2rem;
    height: 2rem;
    background-color: grey;
    border-radius: 50%;
}

.content-download{
    padding: 10px 0;
}

.border-green{
    border-left: 2px solid yellowgreen;
}




/* top-bar */

.btn-upgrade{
    background-color: transparent;
    border: 1px solid white;
    padding: 10px 30px;
    border-radius: 1rem;  
}


/* main-view */

.row-menu{
    margin-top: 65px;
}

.row-menu ul{
    flex-wrap: wrap;
    justify-content: center;
    font-size: 15px;
    padding: 10px;
}

.row-menu li{
    list-style: none;
    margin: 20px 15px 30px 0;
    color: grey;
}

/* internal structure */
.row-cards{
    padding: 20px;
}
.cln-cards{
    width: 100%;
    flex-wrap: wrap
}

.cards{
    width: calc(100% / 2);
    object-fit: contain;
    padding: 4px;
}

.title-cards{
    margin-bottom: 20px;
}

.title-cards h2{
    margin-bottom: 10px;
}

.title-cards span{
    font-size: 13px;
}

.cards img{
    width: 100%;
    margin-bottom: 10px;
}

.cards span{
    font-size: 13px;
}

.img-radius{
    border-radius: 50%;
}





/* End contain */



/* footer */


/* structure */
.play-bar{
    width: 100%;
    height: 88px;
    background-color: #282828;
}


/* internal structure */
footer{
    position: fixed;
    z-index: 1;
    width: 100vw;
}

.row-play-bar{
    width: 100%;
}

.cln-25{
    width: 25%;
}

.cln-50{
    width: 40%;
    margin: 0 10px;
}

.img-footer{
    width: 30px;
}

.song-name, .cln-50 span{
    font-size: 10px;
}

.content-song-name, .content-img-song{
    margin-left: 10px;
}
.content-footer-icon{
    padding: 0 15px;
}
.content-footer-icon i{
    display: block;
}

.content-play{
    justify-content: center;
    margin-bottom: 10px;

}

.content-play i{
    font-size: 18px;
}

.content-play i:nth-child(4){
    margin-right: 10px;
}

.content-play i:nth-child(2){
    margin-left: 10px;
}

.content-play i:nth-child(3){
    font-size: 28px;
    margin: 0 15px;
}

.content-time span:nth-child(1){
    padding-right: 15px;
}

.content-time span:nth-child(3){
    padding-left: 15px;
}

.time{
    width: 100%;
}

.volume{
    width: 60px;
    margin-right: 5px;
    
}

.icon-display{
    justify-content: flex-end;
}

.icon-display i{
    margin-right: 10px;
}